In [7]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\lamta\anaconda3\lib\site-packages (3.29.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\lamta\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six in c:\users\lamta\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)
Requirement already satisfied: click in c:\users\lamta\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.4)
Requirement already satisfied: colorama in c:\users\lamta\anaconda3\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.4)

In [3]:
import pandas as pd

In [48]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

# Thiết lập địa chỉ IP của các nút Cassandra trong cluster
contact_points = ["127.0.0.1"]

# Kết nối đến cluster
cluster = Cluster(contact_points, port=9043)

# Kết nối đến keyspace cụ thể
session = cluster.connect('thithpt')

# Thực hiện truy vấn
rows = session.execute('SELECT * FROM ThiSinh LIMIT 5')  # Thay đổi truy vấn theo nhu cầu của bạn

# Chuyển đổi kết quả thành DataFrame
df = pd.DataFrame(list(rows))

# Đóng kết nối
cluster.shutdown()

In [49]:
df.head()

,sbd,dia_li,gdcd,gioi_tinh,hoa_hoc,lich_su,ngoai_ngu,ngu_van,sinh_hoc,toan,vat_li
0,1084545,7.0,8.75,Nữ,None,7.25,8.2,7.75,None,7.4,None
1,1037113,7.0,8.25,Nữ,None,9.00,7.4,8.00,None,8.6,None
2,1074835,6.5,7.75,Nữ,None,5.75,4.2,7.50,None,6.6,None
3,1058620,6.5,9.25,Nam,None,6.50,9.2,8.25,None,5.8,None
4,2043346,6.5,8.25,Nam,None,7.25,5.4,5.75,None,7.0,None